
<html>
<head>
<title>Java EE Sample Application</title>

<style>
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

</style>

</head>
<body background="pattern.jpg">

<h1>Silahkan klik link dibawah ini secara bergantian</h1>
<ul>
<li><h2> <a href="code1.py"> Looping Segitiga </a> </h2></li>
<br>
<li><h2><a href="code2.py">Nilai Kelipatan</a></h2></h1></li>
<br>
<li><h2> <a href="code3.py">Bilangan Genap dan Ganjil</a></h2>
</li>
</ul>
</html>
</body>
</html>

